.about {
    padding: 30px 10px;
    font-size: 0.8rem;

    .text-secondary {
        padding-bottom: 30px;
        text-align: center;
    }

    &__bio,
    .skills,
    .jobs {
        padding: 50px 0;
    }

    &__bio,
    .skills {
        text-align: center;
    }

    .skills-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
        grid-gap: 10px;
    }

    .skill-item i,
    .skill-item img {
        width: 50px;
        height: 50px;
    }

    .skill-item i {
        font-size: 2rem;
        color: #2664c2;
    }

    .skill-item p {
        padding: 10px 0;
    }

    .jobs {
        display: grid;
        grid-template-columns: 1fr;

        &__container {
            background: lighten($primary-color, 10%);
            padding: 0.7rem 1rem;
            margin-bottom: 40px;
            border-bottom: 5px solid lighten($secondary-color, 40%);
            border-radius: 0.4rem;
            line-height: 1.45;

            h3 {
                text-transform: uppercase;
                font-size: 0.9rem;
            }

            h4,
            h5 {
                font-style: italic;
            }
        }

        &__description {
            margin-left: 1rem;
        }
    }
}
