.about {
    padding: 30px 10px;
    font-size: 0.8rem;

    .text-secondary {
        padding-bottom: 30px;
        text-align: center;
    }

    &-bio {
        padding: 50px 0 20px 0;
    }

    .skills {
        padding: 60px 0;
    }

    &-bio p {
        padding: 5px 0;
    }

    .skills {
        text-align: center;
    }

    .skills-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
        grid-gap: 10px;
    }

    .skill-item i,
    .skill-item img {
        width: 50px;
        height: 50px;
    }

    .skill-item i {
        font-size: 2rem;
        color: #2664c2;
    }

    .skill-item p {
        padding: 10px 0;
    }

    .jobs {
        display: grid;
        grid-template-columns: 1fr;
        border: 5px dashed #008000;
        padding: 30px 20px;
        margin: 40px 0;

        &-container {
            background: lighten($primary-color, 10%);
            padding: 0.7rem 1rem;
            margin-bottom: 40px;
            border-bottom: 5px solid lighten($secondary-color, 40%);
            border-radius: 0.4rem;
            line-height: 1.45;

            h3 {
                text-transform: uppercase;
                font-size: 0.9rem;
            }

            h4,
            h5 {
                font-style: italic;
            }
        }

        &-description {
            margin-left: 1rem;
        }
    }
}

.about-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    border: 5px dashed $secondary-color;
    padding: 40px 20px;
    margin-bottom: 60px;
}

.about-photo {
    position: relative;
    padding: 30px 0;
}

.about-photo::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -10px;
    right: 10px;
    width: 220px;
    height: 374px;
    background-color: #fff;
    z-index: -2;
}

.triangle-container {
    position: absolute;
    left: -10%;
    right: 40%;
    bottom: 100%;
}

.first-triangle,
.second-triangle,
.third-triangle {
    position: absolute;
    background-color: #008000;
    border-radius: 2px;
}

.first-triangle {
    top: 25px;
    left: 25px;
    width: 5px;
    height: 380px;
    transform: rotate(-10deg);
    z-index: 1;
}

.second-triangle {
    top: 60px;
    left: 149px;
    width: 5px;
    height: 370px;
    transform: rotate(30deg);
    z-index: -99;
}

.third-triangle {
    top: -69px;
    left: 118px;
    width: 5px;
    height: 255px;
    transform: rotate(103deg);
    z-index: 1;
}

.about-photo img {
    max-width: 200px;
}

.about-contact {
    margin: 40px 0 0 0;
}

.about-contact a {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    color: #000;
}

.about-contact a:hover,
.about-contact a:focus {
    background-color: $secondary-color;
}
