@include media-sm {
    .home {
        &__name {
            font-size: 2.5rem;
        }
    }

    .home h2 {
        font-size: 1.2rem;
    }

    .about,
    .projects {
        font-size: 1rem;
    }

    .about .jobs__container h3 {
        font-size: 1.2rem;
    }
}

@include media-md {
    .home {
        padding-top: 35vh;

        &__name {
            padding-bottom: 1.5rem;
        }
    }

    .home h2 {
        font-size: 1.5rem;
    }

    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;

        .menu-nav {
            display: block;
            height: 100%;
            background: $primary-color;
            text-align: right;
            transform: translateY(0);

            &__item {
                display: inline;
                padding-right: 1.5rem;
            }

            &__link:hover,
            &__link:focus {
                border: none;
            }
        }
    }

    .about {
        padding-top: 20vh;

        .jobs {
            padding: 60px 0 0 0;
        }

        .skills-container {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    .projects {
        padding-top: 20vh;
    }

    .contact-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
    }

    .contact-form {
        margin: 20px;
        flex: 1 1 800px;
    }

    .contact {
        &__list {
            grid-gap: 1rem;
        }

        .text-secondary {
            font-size: 0.9rem;
        }
        .social-icons {
            font-size: 0.6rem;
        }

        .social-icons a {
            padding: 0 10px;
        }
    }

    .about__container {
        grid-template-columns: 1fr 1fr;
    }
}

@include media-lg {
    .projects__items {
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }

    .contact-form {
        margin: 40px;
    }

    .contact {
        .text-secondary {
            font-size: 1rem;
        }

        .social-icons {
            font-size: 0.8rem;
        }
    }
}

@include media-xl {
    .projects__items {
        grid-gap: 100px;
    }
}

@include touch-screen {
    .projects {
        &__item {
            position: initial;

            &::after {
                display: none;
            }
        }

        &__btns {
            position: initial;
            align-items: center;
            padding-top: 1rem;
        }

        &__btn {
            opacity: 1;
            color: #fff;
            padding: 0 10px;

            &:hover,
            &:focus {
                color: $secondary-color;
            }
        }
    }
}
