$primary-color: #272727;
$secondary-color: #ddce00;

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #000000;
    } @else {
        @return #ffffff;
    }
}

@mixin media-sm {
    @media screen and (min-width: 434px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}

@mixin touch-screen {
    @media (hover: none) and (pointer: coarse) {
        @content;
    }
}
