.projects {
    font-size: 0.8rem;
    text-align: center;

    &-items {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        padding: 40px 0;
    }

    &-item {
        position: relative;
        background: lighten($primary-color, 10%);
        padding: 0.7rem 1rem;
        border-bottom: 5px solid lighten($secondary-color, 40%);
        border-radius: 0.4rem;
        cursor: pointer;
    }

    &-item h4,
    &-item h5 {
        padding: 10px 0 20px 0;
    }

    &-item h5 {
        line-height: 1.3;
    }

    &-item::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: darken($secondary-color, 20%);
        opacity: 0;
        @include transition-ease;
    }

    &-item:hover,
    &-item:focus {
        &::after {
            opacity: 0.9;
        }
        .projects-btn {
            opacity: 1;
        }
    }

    &-btns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 30px;
        left: 30px;
        z-index: 1;
        text-align: center;
    }

    &-btn {
        opacity: 0;
        color: set-text-color($secondary-color);
        @include transition-ease;

        &:hover {
            color: set-text-color(set-text-color($secondary-color));
        }
    }
}
