.contact-body-container--lg {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 32px;
  padding-bottom: 96px;
}

.contact-body-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  padding-bottom: 96px;
}
