@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap");
html {
  font-size: 125%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Nunito", sans-serif;
}

footer,
header,
nav,
section,
main {
  display: block;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

img {
  max-width: 100%;
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #272727;
  height: 100vh;
  color: #ffffff;
  line-height: 1;
}

h2 {
  text-transform: uppercase;
}

.text-secondary {
  color: #ddce00;
}

.wrapper {
  max-width: 1500px;
  width: 95%;
  margin: 0 auto;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 2rem;
}

.button-up {
  position: fixed;
  bottom: 50px;
  right: 30px;
  background: transparent;
  outline: none;
  border: 1px solid transparent;
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
  visibility: hidden;
}

.button-up:hover,
.button-up:focus {
  color: #ddce00;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

footer {
  font-size: 0.8rem;
  padding: 1rem;
  color: #ffffff;
  text-align: center;
  font-style: italic;
}

@-webkit-keyframes typed {
  0%,
  0.63392% {
    content: "F";
  }
  0.63492%,
  1.26884% {
    content: "Fr";
  }
  1.26984%,
  1.90376% {
    content: "Fro";
  }
  1.90476%,
  2.53868% {
    content: "Fron";
  }
  2.53968%,
  3.1736% {
    content: "Front";
  }
  3.1746%,
  3.80852% {
    content: "Front ";
  }
  3.80952%,
  4.44344% {
    content: "Front E";
  }
  4.44444%,
  5.07837% {
    content: "Front En";
  }
  5.07937%,
  5.71329% {
    content: "Front End";
  }
  5.71429%,
  6.34821% {
    content: "Front End ";
  }
  6.34921%,
  6.98313% {
    content: "Front End W";
  }
  6.98413%,
  7.61805% {
    content: "Front End We";
  }
  7.61905%,
  8.25297% {
    content: "Front End Web";
  }
  8.25397%,
  8.88789% {
    content: "Front End Web ";
  }
  8.88889%,
  9.52281% {
    content: "Front End Web D";
  }
  9.52381%,
  10.15773% {
    content: "Front End Web De";
  }
  10.15873%,
  10.79265% {
    content: "Front End Web Dev";
  }
  10.79365%,
  11.42757% {
    content: "Front End Web Deve";
  }
  11.42857%,
  12.06249% {
    content: "Front End Web Devel";
  }
  12.06349%,
  12.69741% {
    content: "Front End Web Develo";
  }
  12.69841%,
  13.33233% {
    content: "Front End Web Develop";
  }
  13.33333%,
  13.96725% {
    content: "Front End Web Develope";
  }
  13.96825%,
  24.44344% {
    content: "Front End Web Developer";
  }
  24.44444%,
  24.7609% {
    content: "Front End Web Develope";
  }
  24.7619%,
  25.07837% {
    content: "Front End Web Develop";
  }
  25.07937%,
  25.39583% {
    content: "Front End Web Develo";
  }
  25.39683%,
  25.71329% {
    content: "Front End Web Devel";
  }
  25.71429%,
  26.03075% {
    content: "Front End Web Deve";
  }
  26.03175%,
  26.34821% {
    content: "Front End Web Dev";
  }
  26.34921%,
  26.66567% {
    content: "Front End Web De";
  }
  26.66667%,
  26.98313% {
    content: "Front End Web D";
  }
  26.98413%,
  27.30059% {
    content: "Front End Web ";
  }
  27.30159%,
  27.61805% {
    content: "Front End Web";
  }
  27.61905%,
  27.93551% {
    content: "Front End We";
  }
  27.93651%,
  28.25297% {
    content: "Front End W";
  }
  28.25397%,
  28.57043% {
    content: "Front End ";
  }
  28.57143%,
  28.88789% {
    content: "Front End";
  }
  28.88889%,
  29.20535% {
    content: "Front En";
  }
  29.20635%,
  29.52281% {
    content: "Front E";
  }
  29.52381%,
  29.84027% {
    content: "Front ";
  }
  29.84127%,
  30.15773% {
    content: "Front";
  }
  30.15873%,
  30.47519% {
    content: "Fron";
  }
  30.47619%,
  30.79265% {
    content: "Fro";
  }
  30.79365%,
  31.11011% {
    content: "Fr";
  }
  31.11111%,
  31.42757% {
    content: "F";
  }
  31.42857%,
  36.50694% {
    content: "​";
  }
  36.50794%,
  37.14186% {
    content: "M";
  }
  37.14286%,
  37.77678% {
    content: "Mo";
  }
  37.77778%,
  38.4117% {
    content: "Mot";
  }
  38.4127%,
  39.04662% {
    content: "Moto";
  }
  39.04762%,
  39.68154% {
    content: "Motor";
  }
  39.68254%,
  40.31646% {
    content: "Motorc";
  }
  40.31746%,
  40.95138% {
    content: "Motorcy";
  }
  40.95238%,
  41.5863% {
    content: "Motorcyc";
  }
  41.5873%,
  42.22122% {
    content: "Motorcycl";
  }
  42.22222%,
  42.85614% {
    content: "Motorcycle";
  }
  42.85714%,
  43.49106% {
    content: "Motorcycle ";
  }
  43.49206%,
  44.12598% {
    content: "Motorcycle B";
  }
  44.12698%,
  44.7609% {
    content: "Motorcycle Bi";
  }
  44.7619%,
  45.39583% {
    content: "Motorcycle Bik";
  }
  45.39683%,
  46.03075% {
    content: "Motorcycle Bike";
  }
  46.03175%,
  46.66567% {
    content: "Motorcycle Biker";
  }
  46.66667%,
  47.30059% {
    content: "Motorcycle Biker ";
  }
  47.30159%,
  57.77678% {
    content: "Motorcycle Biker 🏍";
  }
  57.77778%,
  58.09424% {
    content: "Motorcycle Biker ";
  }
  58.09524%,
  58.4117% {
    content: "Motorcycle Biker";
  }
  58.4127%,
  58.72916% {
    content: "Motorcycle Bike";
  }
  58.73016%,
  59.04662% {
    content: "Motorcycle Bik";
  }
  59.04762%,
  59.36408% {
    content: "Motorcycle Bi";
  }
  59.36508%,
  59.68154% {
    content: "Motorcycle B";
  }
  59.68254%,
  59.999% {
    content: "Motorcycle ";
  }
  60%,
  60.31646% {
    content: "Motorcycle";
  }
  60.31746%,
  60.63392% {
    content: "Motorcycl";
  }
  60.63492%,
  60.95138% {
    content: "Motorcyc";
  }
  60.95238%,
  61.26884% {
    content: "Motorcy";
  }
  61.26984%,
  61.5863% {
    content: "Motorc";
  }
  61.5873%,
  61.90376% {
    content: "Motor";
  }
  61.90476%,
  62.22122% {
    content: "Moto";
  }
  62.22222%,
  62.53868% {
    content: "Mot";
  }
  62.53968%,
  62.85614% {
    content: "Mo";
  }
  62.85714%,
  63.1736% {
    content: "M";
  }
  63.1746%,
  68.25297% {
    content: "​";
  }
  68.25397%,
  68.88789% {
    content: "N";
  }
  68.88889%,
  69.52281% {
    content: "Ni";
  }
  69.52381%,
  70.15773% {
    content: "Nic";
  }
  70.15873%,
  70.79265% {
    content: "Nice";
  }
  70.79365%,
  71.42757% {
    content: "Nice ";
  }
  71.42857%,
  72.06249% {
    content: "Nice t";
  }
  72.06349%,
  72.69741% {
    content: "Nice to";
  }
  72.69841%,
  73.33233% {
    content: "Nice to ";
  }
  73.33333%,
  73.96725% {
    content: "Nice to m";
  }
  73.96825%,
  74.60217% {
    content: "Nice to me";
  }
  74.60317%,
  75.2371% {
    content: "Nice to mee";
  }
  75.2381%,
  75.87202% {
    content: "Nice to meet";
  }
  75.87302%,
  76.50694% {
    content: "Nice to meet ";
  }
  76.50794%,
  77.14186% {
    content: "Nice to meet y";
  }
  77.14286%,
  77.77678% {
    content: "Nice to meet yo";
  }
  77.77778%,
  78.4117% {
    content: "Nice to meet you";
  }
  78.4127%,
  79.04662% {
    content: "Nice to meet you ";
  }
  79.04762%,
  89.52281% {
    content: "Nice to meet you 😀";
  }
  89.52381%,
  89.84027% {
    content: "Nice to meet you ";
  }
  89.84127%,
  90.15773% {
    content: "Nice to meet you";
  }
  90.15873%,
  90.47519% {
    content: "Nice to meet yo";
  }
  90.47619%,
  90.79265% {
    content: "Nice to meet y";
  }
  90.79365%,
  91.11011% {
    content: "Nice to meet ";
  }
  91.11111%,
  91.42757% {
    content: "Nice to meet";
  }
  91.42857%,
  91.74503% {
    content: "Nice to mee";
  }
  91.74603%,
  92.06249% {
    content: "Nice to me";
  }
  92.06349%,
  92.37995% {
    content: "Nice to m";
  }
  92.38095%,
  92.69741% {
    content: "Nice to ";
  }
  92.69841%,
  93.01487% {
    content: "Nice to";
  }
  93.01587%,
  93.33233% {
    content: "Nice t";
  }
  93.33333%,
  93.64979% {
    content: "Nice ";
  }
  93.65079%,
  93.96725% {
    content: "Nice";
  }
  93.96825%,
  94.28471% {
    content: "Nic";
  }
  94.28571%,
  94.60217% {
    content: "Ni";
  }
  94.60317%,
  94.91963% {
    content: "N";
  }
  94.92063%,
  100% {
    content: "​";
  }
}

@keyframes typed {
  0%,
  0.63392% {
    content: "F";
  }
  0.63492%,
  1.26884% {
    content: "Fr";
  }
  1.26984%,
  1.90376% {
    content: "Fro";
  }
  1.90476%,
  2.53868% {
    content: "Fron";
  }
  2.53968%,
  3.1736% {
    content: "Front";
  }
  3.1746%,
  3.80852% {
    content: "Front ";
  }
  3.80952%,
  4.44344% {
    content: "Front E";
  }
  4.44444%,
  5.07837% {
    content: "Front En";
  }
  5.07937%,
  5.71329% {
    content: "Front End";
  }
  5.71429%,
  6.34821% {
    content: "Front End ";
  }
  6.34921%,
  6.98313% {
    content: "Front End W";
  }
  6.98413%,
  7.61805% {
    content: "Front End We";
  }
  7.61905%,
  8.25297% {
    content: "Front End Web";
  }
  8.25397%,
  8.88789% {
    content: "Front End Web ";
  }
  8.88889%,
  9.52281% {
    content: "Front End Web D";
  }
  9.52381%,
  10.15773% {
    content: "Front End Web De";
  }
  10.15873%,
  10.79265% {
    content: "Front End Web Dev";
  }
  10.79365%,
  11.42757% {
    content: "Front End Web Deve";
  }
  11.42857%,
  12.06249% {
    content: "Front End Web Devel";
  }
  12.06349%,
  12.69741% {
    content: "Front End Web Develo";
  }
  12.69841%,
  13.33233% {
    content: "Front End Web Develop";
  }
  13.33333%,
  13.96725% {
    content: "Front End Web Develope";
  }
  13.96825%,
  24.44344% {
    content: "Front End Web Developer";
  }
  24.44444%,
  24.7609% {
    content: "Front End Web Develope";
  }
  24.7619%,
  25.07837% {
    content: "Front End Web Develop";
  }
  25.07937%,
  25.39583% {
    content: "Front End Web Develo";
  }
  25.39683%,
  25.71329% {
    content: "Front End Web Devel";
  }
  25.71429%,
  26.03075% {
    content: "Front End Web Deve";
  }
  26.03175%,
  26.34821% {
    content: "Front End Web Dev";
  }
  26.34921%,
  26.66567% {
    content: "Front End Web De";
  }
  26.66667%,
  26.98313% {
    content: "Front End Web D";
  }
  26.98413%,
  27.30059% {
    content: "Front End Web ";
  }
  27.30159%,
  27.61805% {
    content: "Front End Web";
  }
  27.61905%,
  27.93551% {
    content: "Front End We";
  }
  27.93651%,
  28.25297% {
    content: "Front End W";
  }
  28.25397%,
  28.57043% {
    content: "Front End ";
  }
  28.57143%,
  28.88789% {
    content: "Front End";
  }
  28.88889%,
  29.20535% {
    content: "Front En";
  }
  29.20635%,
  29.52281% {
    content: "Front E";
  }
  29.52381%,
  29.84027% {
    content: "Front ";
  }
  29.84127%,
  30.15773% {
    content: "Front";
  }
  30.15873%,
  30.47519% {
    content: "Fron";
  }
  30.47619%,
  30.79265% {
    content: "Fro";
  }
  30.79365%,
  31.11011% {
    content: "Fr";
  }
  31.11111%,
  31.42757% {
    content: "F";
  }
  31.42857%,
  36.50694% {
    content: "​";
  }
  36.50794%,
  37.14186% {
    content: "M";
  }
  37.14286%,
  37.77678% {
    content: "Mo";
  }
  37.77778%,
  38.4117% {
    content: "Mot";
  }
  38.4127%,
  39.04662% {
    content: "Moto";
  }
  39.04762%,
  39.68154% {
    content: "Motor";
  }
  39.68254%,
  40.31646% {
    content: "Motorc";
  }
  40.31746%,
  40.95138% {
    content: "Motorcy";
  }
  40.95238%,
  41.5863% {
    content: "Motorcyc";
  }
  41.5873%,
  42.22122% {
    content: "Motorcycl";
  }
  42.22222%,
  42.85614% {
    content: "Motorcycle";
  }
  42.85714%,
  43.49106% {
    content: "Motorcycle ";
  }
  43.49206%,
  44.12598% {
    content: "Motorcycle B";
  }
  44.12698%,
  44.7609% {
    content: "Motorcycle Bi";
  }
  44.7619%,
  45.39583% {
    content: "Motorcycle Bik";
  }
  45.39683%,
  46.03075% {
    content: "Motorcycle Bike";
  }
  46.03175%,
  46.66567% {
    content: "Motorcycle Biker";
  }
  46.66667%,
  47.30059% {
    content: "Motorcycle Biker ";
  }
  47.30159%,
  57.77678% {
    content: "Motorcycle Biker 🏍";
  }
  57.77778%,
  58.09424% {
    content: "Motorcycle Biker ";
  }
  58.09524%,
  58.4117% {
    content: "Motorcycle Biker";
  }
  58.4127%,
  58.72916% {
    content: "Motorcycle Bike";
  }
  58.73016%,
  59.04662% {
    content: "Motorcycle Bik";
  }
  59.04762%,
  59.36408% {
    content: "Motorcycle Bi";
  }
  59.36508%,
  59.68154% {
    content: "Motorcycle B";
  }
  59.68254%,
  59.999% {
    content: "Motorcycle ";
  }
  60%,
  60.31646% {
    content: "Motorcycle";
  }
  60.31746%,
  60.63392% {
    content: "Motorcycl";
  }
  60.63492%,
  60.95138% {
    content: "Motorcyc";
  }
  60.95238%,
  61.26884% {
    content: "Motorcy";
  }
  61.26984%,
  61.5863% {
    content: "Motorc";
  }
  61.5873%,
  61.90376% {
    content: "Motor";
  }
  61.90476%,
  62.22122% {
    content: "Moto";
  }
  62.22222%,
  62.53868% {
    content: "Mot";
  }
  62.53968%,
  62.85614% {
    content: "Mo";
  }
  62.85714%,
  63.1736% {
    content: "M";
  }
  63.1746%,
  68.25297% {
    content: "​";
  }
  68.25397%,
  68.88789% {
    content: "N";
  }
  68.88889%,
  69.52281% {
    content: "Ni";
  }
  69.52381%,
  70.15773% {
    content: "Nic";
  }
  70.15873%,
  70.79265% {
    content: "Nice";
  }
  70.79365%,
  71.42757% {
    content: "Nice ";
  }
  71.42857%,
  72.06249% {
    content: "Nice t";
  }
  72.06349%,
  72.69741% {
    content: "Nice to";
  }
  72.69841%,
  73.33233% {
    content: "Nice to ";
  }
  73.33333%,
  73.96725% {
    content: "Nice to m";
  }
  73.96825%,
  74.60217% {
    content: "Nice to me";
  }
  74.60317%,
  75.2371% {
    content: "Nice to mee";
  }
  75.2381%,
  75.87202% {
    content: "Nice to meet";
  }
  75.87302%,
  76.50694% {
    content: "Nice to meet ";
  }
  76.50794%,
  77.14186% {
    content: "Nice to meet y";
  }
  77.14286%,
  77.77678% {
    content: "Nice to meet yo";
  }
  77.77778%,
  78.4117% {
    content: "Nice to meet you";
  }
  78.4127%,
  79.04662% {
    content: "Nice to meet you ";
  }
  79.04762%,
  89.52281% {
    content: "Nice to meet you 😀";
  }
  89.52381%,
  89.84027% {
    content: "Nice to meet you ";
  }
  89.84127%,
  90.15773% {
    content: "Nice to meet you";
  }
  90.15873%,
  90.47519% {
    content: "Nice to meet yo";
  }
  90.47619%,
  90.79265% {
    content: "Nice to meet y";
  }
  90.79365%,
  91.11011% {
    content: "Nice to meet ";
  }
  91.11111%,
  91.42757% {
    content: "Nice to meet";
  }
  91.42857%,
  91.74503% {
    content: "Nice to mee";
  }
  91.74603%,
  92.06249% {
    content: "Nice to me";
  }
  92.06349%,
  92.37995% {
    content: "Nice to m";
  }
  92.38095%,
  92.69741% {
    content: "Nice to ";
  }
  92.69841%,
  93.01487% {
    content: "Nice to";
  }
  93.01587%,
  93.33233% {
    content: "Nice t";
  }
  93.33333%,
  93.64979% {
    content: "Nice ";
  }
  93.65079%,
  93.96725% {
    content: "Nice";
  }
  93.96825%,
  94.28471% {
    content: "Nic";
  }
  94.28571%,
  94.60217% {
    content: "Ni";
  }
  94.60317%,
  94.91963% {
    content: "N";
  }
  94.92063%,
  100% {
    content: "​";
  }
}

@-webkit-keyframes beam-blink {
  75% {
    border-color: transparent;
  }
}

@keyframes beam-blink {
  75% {
    border-color: transparent;
  }
}

.home {
  height: 100vh;
  padding-top: 25vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 39, 39, 0.45))), url(https://1.bp.blogspot.com/-51dL74QTW0s/Ucx5qyYlBAI/AAAAAAAAWgk/IT7vwn51zHU/s1280/Sunflowers+Desktop+Wallpapers+%25282%2529.jpg) center top;
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0.45)), url(https://1.bp.blogspot.com/-51dL74QTW0s/Ucx5qyYlBAI/AAAAAAAAWgk/IT7vwn51zHU/s1280/Sunflowers+Desktop+Wallpapers+%25282%2529.jpg) center top;
  background-size: cover;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home::after {
  content: "​";
  position: relative;
  top: -60px;
  display: inline-block;
  padding-right: 3px;
  padding-right: calc(3px + 0.1vw);
  border-right: 10px solid rgba(51, 255, 51, 0.75);
  border-right: calc(1.1vw + 4px) solid rgba(51, 255, 51, 0.75);
  white-space: nowrap;
  font-weight: 700;
  font-size: 1.1rem;
  -webkit-animation: typed 15.75s linear 1s infinite, beam-blink 1s infinite;
          animation: typed 15.75s linear 1s infinite, beam-blink 1s infinite;
}

.home-name {
  padding: 5px 0 20px 0;
  text-decoration: underline;
  font-size: 2rem;
}

.home-name--first {
  color: #fff45e;
}

.home h2 {
  text-transform: capitalize;
  font-size: 1rem;
}

.button-link {
  position: relative;
  top: 40vh;
}

.button-down {
  cursor: pointer;
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
}

.button-down:hover,
.button-down:focus {
  color: #000;
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.menu-btn {
  position: absolute;
  z-index: 99;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger, .menu-btn-burger::before, .menu-btn-burger::after {
  position: absolute;
  width: 28px;
  height: 3px;
  background: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger {
  right: 0;
  top: 0.5rem;
}

.menu-btn-burger::before, .menu-btn-burger::after {
  content: "";
}

.menu-btn-burger::before {
  top: -8px;
}

.menu-btn-burger::after {
  top: 8px;
}

.menu-btn-burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn-burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn-burger.open::after {
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  visibility: hidden;
  opacity: 0.98;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #272727;
  padding-right: 1rem;
  list-style-type: none;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .menu-nav-item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav-item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav-link {
  display: inline-block;
  padding: 2rem 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav-link:hover, .nav .menu-nav-link:focus {
  color: #ddce00;
  border: 1px solid #ddce00;
  border-radius: 0.4rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-nav-item:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.menu-nav-item:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu-nav-item:nth-child(3) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.menu-nav-item:nth-child(4) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.about {
  padding: 30px 10px;
  font-size: 0.8rem;
}

.about .text-secondary {
  padding-bottom: 30px;
  text-align: center;
}

.about-bio {
  padding: 50px 0 20px 0;
}

.about .skills {
  padding: 60px 0;
}

.about-bio p {
  padding: 5px 0;
}

.about .skills {
  text-align: center;
}

.about .skills-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 10px;
}

.about .skill-item i,
.about .skill-item img {
  width: 50px;
  height: 50px;
}

.about .skill-item i {
  font-size: 2rem;
  color: #2664c2;
}

.about .skill-item p {
  padding: 10px 0;
}

.about .jobs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  border: 5px dashed #008000;
  padding: 30px 20px;
  margin: 40px 0;
}

.about .jobs-container {
  background: #414141;
  padding: 0.7rem 1rem;
  margin-bottom: 40px;
  border-bottom: 5px solid #fff9aa;
  border-radius: 0.4rem;
  line-height: 1.45;
}

.about .jobs-container h3 {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.about .jobs-container h4,
.about .jobs-container h5 {
  font-style: italic;
}

.about .jobs-description {
  margin-left: 1rem;
}

.about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  place-items: center;
  border: 5px dashed #ddce00;
  padding: 40px 20px;
  margin-bottom: 60px;
}

.about-photo {
  position: relative;
  padding: 30px 0;
}

.about-photo::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -10px;
  right: 10px;
  width: 220px;
  height: 374px;
  background-color: #fff;
  z-index: -2;
}

.triangle-container {
  position: absolute;
  left: -10%;
  right: 40%;
  bottom: 100%;
}

.first-triangle,
.second-triangle,
.third-triangle {
  position: absolute;
  background-color: #008000;
  border-radius: 2px;
}

.first-triangle {
  top: 25px;
  left: 25px;
  width: 5px;
  height: 380px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  z-index: 1;
}

.second-triangle {
  top: 60px;
  left: 149px;
  width: 5px;
  height: 370px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: -99;
}

.third-triangle {
  top: -69px;
  left: 118px;
  width: 5px;
  height: 255px;
  -webkit-transform: rotate(103deg);
          transform: rotate(103deg);
  z-index: 1;
}

.about-photo img {
  max-width: 200px;
}

.about-contact {
  margin: 40px 0 0 0;
}

.about-contact a {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
}

.about-contact a:hover,
.about-contact a:focus {
  background-color: #ddce00;
}

.resume-link-container {
  margin: 20px auto 50px auto;
}

.resume-link-container a {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  color: #000;
}

.resume-link-container a:hover,
.resume-link-container a:focus {
  background-color: #ddce00;
  color: #fff;
}

.projects {
  font-size: 0.8rem;
  text-align: center;
}

.projects-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 30px;
  padding: 40px 0;
}

.projects-item {
  position: relative;
  background: #414141;
  padding: 0.7rem 1rem;
  border-bottom: 5px solid #fff9aa;
  border-radius: 0.4rem;
  cursor: pointer;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.projects-item-hidden {
  opacity: 0;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
}

.projects-item h4,
.projects-item h5 {
  padding: 10px 0 20px 0;
}

.projects-item h5 {
  line-height: 1.3;
}

.projects-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #776f00;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects-item:hover::after, .projects-item:focus::after {
  opacity: 0.9;
}

.projects-item:hover .projects-btn, .projects-item:focus .projects-btn {
  opacity: 1;
}

.projects-btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  right: 30px;
  left: 30px;
  z-index: 1;
  text-align: center;
}

.projects-btn {
  opacity: 0;
  color: #000000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects-btn:hover {
  color: #ffffff;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 39, 39, 0.7))), url(https://1.bp.blogspot.com/-51dL74QTW0s/Ucx5qyYlBAI/AAAAAAAAWgk/IT7vwn51zHU/s1280/Sunflowers+Desktop+Wallpapers+%25282%2529.jpg) center top;
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0.7)), url(https://1.bp.blogspot.com/-51dL74QTW0s/Ucx5qyYlBAI/AAAAAAAAWgk/IT7vwn51zHU/s1280/Sunflowers+Desktop+Wallpapers+%25282%2529.jpg) center top;
  background-size: cover;
  text-align: center;
}

.contact h2 {
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  border: 5px solid #ddce00;
  border-radius: 0.4rem;
}

.contact-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.contact .text-secondary a {
  color: #ddce00;
}

.contact .text-secondary {
  padding: 10px 0;
}

.contact .social-icons {
  margin: 40px 0;
  font-size: 0.8rem;
}

.contact .social-icons a {
  padding: 0 20px;
}

.contact .social-icons a:hover,
.contact .social-icons a:focus {
  color: #ddce00;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 95vw;
  margin: 30px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  text-align: center;
}

.contact-form p {
  padding-bottom: 50px;
  color: #000;
}

.contact-form input,
.contact-form textarea,
.submit-btn {
  max-width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
}

.contact-form input,
.contact-form textarea {
  border: 5px solid #ddce00;
}

.submit-btn {
  background-color: #2664c2;
  color: #fff;
  cursor: pointer;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #ddce00;
  color: #000;
}

.g-recaptcha {
  padding: 10px 0;
}

@media screen and (min-width: 434px) {
  .home-name {
    font-size: 2.5rem;
  }
  .home::after {
    font-size: 1.3rem;
  }
  .home h2 {
    font-size: 1.2rem;
  }
  .about,
  .projects {
    font-size: 1rem;
  }
  .about .jobs-container h3 {
    font-size: 1.2rem;
  }
  .button-up {
    font-size: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .home {
    padding-top: 35vh;
  }
  .home-name {
    padding-bottom: 1.5rem;
  }
  .home::after {
    top: -70px;
  }
  .button-link {
    top: 35vh;
  }
  .home h2 {
    font-size: 1.5rem;
  }
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    height: 100%;
    background: #272727;
    text-align: right;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .nav .menu-nav-item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav-link:hover, .nav .menu-nav-link:focus {
    border: none;
  }
  .about .text-secondary,
  .projects .text-secondary {
    font-size: 2rem;
  }
  .about {
    padding-top: 20vh;
  }
  .about .jobs {
    padding: 60px 60px 0 60px;
  }
  .about .skills-container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .projects {
    padding-top: 20vh;
  }
  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 40px;
  }
  .contact-form {
    margin: 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 800px;
            flex: 1 1 800px;
  }
  .contact-list {
    grid-gap: 1rem;
  }
  .contact .text-secondary {
    font-size: 0.9rem;
  }
  .contact .social-icons {
    font-size: 0.6rem;
  }
  .contact .social-icons a {
    padding: 0 10px;
  }
  .about-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 40px 70px;
  }
}

@media screen and (min-width: 1050px) {
  .projects-items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
  .contact-form {
    margin: 40px;
  }
  .contact .text-secondary {
    font-size: 1rem;
  }
  .contact .social-icons {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1600px) {
  .projects-items {
    grid-gap: 100px;
  }
}

@media (hover: none) and (pointer: coarse) {
  .projects-item {
    position: initial;
  }
  .projects-item::after {
    display: none;
  }
  .projects-btns {
    position: initial;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1rem;
  }
  .projects-btn {
    opacity: 1;
    color: #fff;
    padding: 0 10px;
  }
  .projects-btn:hover, .projects-btn:focus {
    color: #ddce00;
  }
}
