@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap");
html {
  font-size: 125%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Nunito", sans-serif;
}

footer,
header,
nav,
section,
main {
  display: block;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

img {
  max-width: 100%;
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #272727;
  height: 100vh;
  color: #ffffff;
  line-height: 1;
}

h2 {
  text-transform: uppercase;
}

.text-secondary {
  color: #ddce00;
}

.wrapper {
  max-width: 1500px;
  width: 95%;
  margin: 0 auto;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 2rem;
}

.button-up {
  position: fixed;
  bottom: 50px;
  right: 30px;
  background: transparent;
  outline: none;
  border: 1px solid transparent;
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
  visibility: hidden;
}

.button-up:hover,
.button-up:focus {
  color: #ddce00;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

footer {
  font-size: 0.8rem;
  padding: 1rem;
  color: #ffffff;
  text-align: center;
  font-style: italic;
}

@-webkit-keyframes typed {
  /* string 1, char 1 */
  0%,
  0.54366% {
    content: "C";
  }
  /* string 1, char 2 */
  0.54466%,
  1.08832% {
    content: "CS";
  }
  /* string 1, char 3 */
  1.08932%,
  1.63299% {
    content: "CSS";
  }
  /* string 1, char 4 */
  1.63399%,
  2.17765% {
    content: "CSS ";
  }
  /* string 1, char 5 */
  2.17865%,
  2.72231% {
    content: "CSS t";
  }
  /* string 1, char 6 */
  2.72331%,
  3.26697% {
    content: "CSS ty";
  }
  /* string 1, char 7 */
  3.26797%,
  3.81164% {
    content: "CSS typ";
  }
  /* string 1, char 8 */
  3.81264%,
  4.3563% {
    content: "CSS type";
  }
  /* string 1, char 9 */
  4.3573%,
  4.90096% {
    content: "CSS typed";
  }
  /* string 1, char 10 */
  4.90196%,
  5.44562% {
    content: "CSS typed ";
  }
  /* string 1, char 11 */
  5.44662%,
  5.99029% {
    content: "CSS typed t";
  }
  /* string 1, char 12 */
  5.99129%,
  6.53495% {
    content: "CSS typed th";
  }
  /* string 1, char 13 */
  6.53595%,
  7.07961% {
    content: "CSS typed thi";
  }
  /* string 1, char 14 */
  7.08061%,
  7.62427% {
    content: "CSS typed this";
  }
  /* string 1, char 15 */
  7.62527%,
  8.16893% {
    content: "CSS typed this ";
  }
  /* string 1, char 16 */
  8.16993%,
  8.7136% {
    content: "CSS typed this s";
  }
  /* string 1, char 17 */
  8.7146%,
  9.25826% {
    content: "CSS typed this st";
  }
  /* string 1, char 18 */
  9.25926%,
  9.80292% {
    content: "CSS typed this str";
  }
  /* string 1, char 19 */
  9.80392%,
  10.34758% {
    content: "CSS typed this stri";
  }
  /* string 1, char 20 */
  10.34858%,
  10.89225% {
    content: "CSS typed this strin";
  }
  /* string 1, char 21 */
  10.89325%,
  11.43691% {
    content: "CSS typed this string";
  }
  /* string 1, char 22 */
  11.43791%,
  23.31055% {
    content: "CSS typed this string!";
  }
  /* string 1, char 23 */
  23.31155%,
  23.74628% {
    content: "CSS typed this string";
  }
  /* string 1, char 24 */
  23.74728%,
  24.18201% {
    content: "CSS typed this strin";
  }
  /* string 1, char 25 */
  24.18301%,
  24.61774% {
    content: "CSS typed this stri";
  }
  /* string 1, char 26 */
  24.61874%,
  25.05347% {
    content: "CSS typed this str";
  }
  /* string 1, char 27 */
  25.05447%,
  25.4892% {
    content: "CSS typed this st";
  }
  /* string 1, char 28 */
  25.4902%,
  25.92493% {
    content: "CSS typed this s";
  }
  /* string 1, char 29 */
  25.92593%,
  26.36066% {
    content: "CSS typed this ";
  }
  /* string 1, char 30 */
  26.36166%,
  26.79639% {
    content: "CSS typed this";
  }
  /* string 1, char 31 */
  26.79739%,
  27.23212% {
    content: "CSS typed thi";
  }
  /* string 1, char 32 */
  27.23312%,
  27.66785% {
    content: "CSS typed th";
  }
  /* string 1, char 33 */
  27.66885%,
  28.10358% {
    content: "CSS typed t";
  }
  /* string 1, char 34 */
  28.10458%,
  28.53931% {
    content: "CSS typed ";
  }
  /* string 1, char 35 */
  28.54031%,
  28.97503% {
    content: "CSS typed";
  }
  /* string 1, char 36 */
  28.97603%,
  29.41076% {
    content: "CSS type";
  }
  /* string 1, char 37 */
  29.41176%,
  29.84649% {
    content: "CSS typ";
  }
  /* string 1, char 38 */
  29.84749%,
  30.28222% {
    content: "CSS ty";
  }
  /* string 1, char 39 */
  30.28322%,
  30.71795% {
    content: "CSS t";
  }
  /* string 1, char 40 */
  30.71895%,
  31.15368% {
    content: "CSS ";
  }
  /* string 1, char 41 */
  31.15468%,
  31.58941% {
    content: "CSS";
  }
  /* string 1, char 42 */
  31.59041%,
  32.02514% {
    content: "CS";
  }
  /* string 1, char 43 */
  32.02614%,
  32.46087% {
    content: "C";
  }
  /* string 1, char 44 */
  32.46187%,
  37.9075% {
    content: "​";
  }
  /* string 2, char 1 */
  37.9085%,
  38.45216% {
    content: "I";
  }
  /* string 2, char 2 */
  38.45316%,
  38.99682% {
    content: "It";
  }
  /* string 2, char 3 */
  38.99782%,
  39.54148% {
    content: "It ";
  }
  /* string 2, char 4 */
  39.54248%,
  40.08615% {
    content: "It t";
  }
  /* string 2, char 5 */
  40.08715%,
  40.63081% {
    content: "It ty";
  }
  /* string 2, char 6 */
  40.63181%,
  41.17547% {
    content: "It typ";
  }
  /* string 2, char 7 */
  41.17647%,
  41.72013% {
    content: "It type";
  }
  /* string 2, char 8 */
  41.72113%,
  42.2648% {
    content: "It typed";
  }
  /* string 2, char 9 */
  42.2658%,
  42.80946% {
    content: "It typed ";
  }
  /* string 2, char 10 */
  42.81046%,
  43.35412% {
    content: "It typed t";
  }
  /* string 2, char 11 */
  43.35512%,
  43.89878% {
    content: "It typed th";
  }
  /* string 2, char 12 */
  43.89978%,
  44.44344% {
    content: "It typed thi";
  }
  /* string 2, char 13 */
  44.44444%,
  44.98811% {
    content: "It typed this";
  }
  /* string 2, char 14 */
  44.98911%,
  45.53277% {
    content: "It typed this ";
  }
  /* string 2, char 15 */
  45.53377%,
  46.07743% {
    content: "It typed this o";
  }
  /* string 2, char 16 */
  46.07843%,
  46.62209% {
    content: "It typed this on";
  }
  /* string 2, char 17 */
  46.62309%,
  47.16676% {
    content: "It typed this one";
  }
  /* string 2, char 18 */
  47.16776%,
  47.71142% {
    content: "It typed this one ";
  }
  /* string 2, char 19 */
  47.71242%,
  48.25608% {
    content: "It typed this one t";
  }
  /* string 2, char 20 */
  48.25708%,
  48.80074% {
    content: "It typed this one to";
  }
  /* string 2, char 21 */
  48.80174%,
  49.34541% {
    content: "It typed this one too";
  }
  /* string 2, char 22 */
  49.34641%,
  49.89007% {
    content: "It typed this one too ";
  }
  /* string 2, char 23 */
  49.89107%,
  61.76371% {
    content: "It typed this one too 😱";
  }
  /* string 2, char 24 */
  61.76471%,
  62.19944% {
    content: "It typed this one too ";
  }
  /* string 2, char 25 */
  62.20044%,
  62.63517% {
    content: "It typed this one too";
  }
  /* string 2, char 26 */
  62.63617%,
  63.0709% {
    content: "It typed this one to";
  }
  /* string 2, char 27 */
  63.0719%,
  63.50663% {
    content: "It typed this one t";
  }
  /* string 2, char 28 */
  63.50763%,
  63.94236% {
    content: "It typed this one ";
  }
  /* string 2, char 29 */
  63.94336%,
  64.37808% {
    content: "It typed this one";
  }
  /* string 2, char 30 */
  64.37908%,
  64.81381% {
    content: "It typed this on";
  }
  /* string 2, char 31 */
  64.81481%,
  65.24954% {
    content: "It typed this o";
  }
  /* string 2, char 32 */
  65.25054%,
  65.68527% {
    content: "It typed this ";
  }
  /* string 2, char 33 */
  65.68627%,
  66.121% {
    content: "It typed this";
  }
  /* string 2, char 34 */
  66.122%,
  66.55673% {
    content: "It typed thi";
  }
  /* string 2, char 35 */
  66.55773%,
  66.99246% {
    content: "It typed th";
  }
  /* string 2, char 36 */
  66.99346%,
  67.42819% {
    content: "It typed t";
  }
  /* string 2, char 37 */
  67.42919%,
  67.86392% {
    content: "It typed ";
  }
  /* string 2, char 38 */
  67.86492%,
  68.29965% {
    content: "It typed";
  }
  /* string 2, char 39 */
  68.30065%,
  68.73538% {
    content: "It type";
  }
  /* string 2, char 40 */
  68.73638%,
  69.17111% {
    content: "It typ";
  }
  /* string 2, char 41 */
  69.17211%,
  69.60684% {
    content: "It ty";
  }
  /* string 2, char 42 */
  69.60784%,
  70.04257% {
    content: "It t";
  }
  /* string 2, char 43 */
  70.04357%,
  70.4783% {
    content: "It ";
  }
  /* string 2, char 44 */
  70.4793%,
  70.91403% {
    content: "It";
  }
  /* string 2, char 45 */
  70.91503%,
  71.34976% {
    content: "I";
  }
  /* string 2, char 46 */
  71.35076%,
  76.79639% {
    content: "​";
  }
  /* string 3, char 1 */
  76.79739%,
  77.34105% {
    content: "E";
  }
  /* string 3, char 2 */
  77.34205%,
  77.88571% {
    content: "En";
  }
  /* string 3, char 3 */
  77.88671%,
  78.43037% {
    content: "Enj";
  }
  /* string 3, char 4 */
  78.43137%,
  78.97503% {
    content: "Enjo";
  }
  /* string 3, char 5 */
  78.97603%,
  79.5197% {
    content: "Enjoy";
  }
  /* string 3, char 6 */
  79.5207%,
  80.06436% {
    content: "Enjoy ";
  }
  /* string 3, char 7 */
  80.06536%,
  91.938% {
    content: "Enjoy ☕";
  }
  /* string 3, char 8 */
  91.939%,
  92.37373% {
    content: "Enjoy ";
  }
  /* string 3, char 9 */
  92.37473%,
  92.80946% {
    content: "Enjoy";
  }
  /* string 3, char 10 */
  92.81046%,
  93.24519% {
    content: "Enjo";
  }
  /* string 3, char 11 */
  93.24619%,
  93.68092% {
    content: "Enj";
  }
  /* string 3, char 12 */
  93.68192%,
  94.11665% {
    content: "En";
  }
  /* string 3, char 13 */
  94.11765%,
  94.55238% {
    content: "E";
  }
  /* string 3, char 14 */
  94.55338%,
  100% {
    content: "​";
  }
}

@keyframes typed {
  /* string 1, char 1 */
  0%,
  0.54366% {
    content: "C";
  }
  /* string 1, char 2 */
  0.54466%,
  1.08832% {
    content: "CS";
  }
  /* string 1, char 3 */
  1.08932%,
  1.63299% {
    content: "CSS";
  }
  /* string 1, char 4 */
  1.63399%,
  2.17765% {
    content: "CSS ";
  }
  /* string 1, char 5 */
  2.17865%,
  2.72231% {
    content: "CSS t";
  }
  /* string 1, char 6 */
  2.72331%,
  3.26697% {
    content: "CSS ty";
  }
  /* string 1, char 7 */
  3.26797%,
  3.81164% {
    content: "CSS typ";
  }
  /* string 1, char 8 */
  3.81264%,
  4.3563% {
    content: "CSS type";
  }
  /* string 1, char 9 */
  4.3573%,
  4.90096% {
    content: "CSS typed";
  }
  /* string 1, char 10 */
  4.90196%,
  5.44562% {
    content: "CSS typed ";
  }
  /* string 1, char 11 */
  5.44662%,
  5.99029% {
    content: "CSS typed t";
  }
  /* string 1, char 12 */
  5.99129%,
  6.53495% {
    content: "CSS typed th";
  }
  /* string 1, char 13 */
  6.53595%,
  7.07961% {
    content: "CSS typed thi";
  }
  /* string 1, char 14 */
  7.08061%,
  7.62427% {
    content: "CSS typed this";
  }
  /* string 1, char 15 */
  7.62527%,
  8.16893% {
    content: "CSS typed this ";
  }
  /* string 1, char 16 */
  8.16993%,
  8.7136% {
    content: "CSS typed this s";
  }
  /* string 1, char 17 */
  8.7146%,
  9.25826% {
    content: "CSS typed this st";
  }
  /* string 1, char 18 */
  9.25926%,
  9.80292% {
    content: "CSS typed this str";
  }
  /* string 1, char 19 */
  9.80392%,
  10.34758% {
    content: "CSS typed this stri";
  }
  /* string 1, char 20 */
  10.34858%,
  10.89225% {
    content: "CSS typed this strin";
  }
  /* string 1, char 21 */
  10.89325%,
  11.43691% {
    content: "CSS typed this string";
  }
  /* string 1, char 22 */
  11.43791%,
  23.31055% {
    content: "CSS typed this string!";
  }
  /* string 1, char 23 */
  23.31155%,
  23.74628% {
    content: "CSS typed this string";
  }
  /* string 1, char 24 */
  23.74728%,
  24.18201% {
    content: "CSS typed this strin";
  }
  /* string 1, char 25 */
  24.18301%,
  24.61774% {
    content: "CSS typed this stri";
  }
  /* string 1, char 26 */
  24.61874%,
  25.05347% {
    content: "CSS typed this str";
  }
  /* string 1, char 27 */
  25.05447%,
  25.4892% {
    content: "CSS typed this st";
  }
  /* string 1, char 28 */
  25.4902%,
  25.92493% {
    content: "CSS typed this s";
  }
  /* string 1, char 29 */
  25.92593%,
  26.36066% {
    content: "CSS typed this ";
  }
  /* string 1, char 30 */
  26.36166%,
  26.79639% {
    content: "CSS typed this";
  }
  /* string 1, char 31 */
  26.79739%,
  27.23212% {
    content: "CSS typed thi";
  }
  /* string 1, char 32 */
  27.23312%,
  27.66785% {
    content: "CSS typed th";
  }
  /* string 1, char 33 */
  27.66885%,
  28.10358% {
    content: "CSS typed t";
  }
  /* string 1, char 34 */
  28.10458%,
  28.53931% {
    content: "CSS typed ";
  }
  /* string 1, char 35 */
  28.54031%,
  28.97503% {
    content: "CSS typed";
  }
  /* string 1, char 36 */
  28.97603%,
  29.41076% {
    content: "CSS type";
  }
  /* string 1, char 37 */
  29.41176%,
  29.84649% {
    content: "CSS typ";
  }
  /* string 1, char 38 */
  29.84749%,
  30.28222% {
    content: "CSS ty";
  }
  /* string 1, char 39 */
  30.28322%,
  30.71795% {
    content: "CSS t";
  }
  /* string 1, char 40 */
  30.71895%,
  31.15368% {
    content: "CSS ";
  }
  /* string 1, char 41 */
  31.15468%,
  31.58941% {
    content: "CSS";
  }
  /* string 1, char 42 */
  31.59041%,
  32.02514% {
    content: "CS";
  }
  /* string 1, char 43 */
  32.02614%,
  32.46087% {
    content: "C";
  }
  /* string 1, char 44 */
  32.46187%,
  37.9075% {
    content: "​";
  }
  /* string 2, char 1 */
  37.9085%,
  38.45216% {
    content: "I";
  }
  /* string 2, char 2 */
  38.45316%,
  38.99682% {
    content: "It";
  }
  /* string 2, char 3 */
  38.99782%,
  39.54148% {
    content: "It ";
  }
  /* string 2, char 4 */
  39.54248%,
  40.08615% {
    content: "It t";
  }
  /* string 2, char 5 */
  40.08715%,
  40.63081% {
    content: "It ty";
  }
  /* string 2, char 6 */
  40.63181%,
  41.17547% {
    content: "It typ";
  }
  /* string 2, char 7 */
  41.17647%,
  41.72013% {
    content: "It type";
  }
  /* string 2, char 8 */
  41.72113%,
  42.2648% {
    content: "It typed";
  }
  /* string 2, char 9 */
  42.2658%,
  42.80946% {
    content: "It typed ";
  }
  /* string 2, char 10 */
  42.81046%,
  43.35412% {
    content: "It typed t";
  }
  /* string 2, char 11 */
  43.35512%,
  43.89878% {
    content: "It typed th";
  }
  /* string 2, char 12 */
  43.89978%,
  44.44344% {
    content: "It typed thi";
  }
  /* string 2, char 13 */
  44.44444%,
  44.98811% {
    content: "It typed this";
  }
  /* string 2, char 14 */
  44.98911%,
  45.53277% {
    content: "It typed this ";
  }
  /* string 2, char 15 */
  45.53377%,
  46.07743% {
    content: "It typed this o";
  }
  /* string 2, char 16 */
  46.07843%,
  46.62209% {
    content: "It typed this on";
  }
  /* string 2, char 17 */
  46.62309%,
  47.16676% {
    content: "It typed this one";
  }
  /* string 2, char 18 */
  47.16776%,
  47.71142% {
    content: "It typed this one ";
  }
  /* string 2, char 19 */
  47.71242%,
  48.25608% {
    content: "It typed this one t";
  }
  /* string 2, char 20 */
  48.25708%,
  48.80074% {
    content: "It typed this one to";
  }
  /* string 2, char 21 */
  48.80174%,
  49.34541% {
    content: "It typed this one too";
  }
  /* string 2, char 22 */
  49.34641%,
  49.89007% {
    content: "It typed this one too ";
  }
  /* string 2, char 23 */
  49.89107%,
  61.76371% {
    content: "It typed this one too 😱";
  }
  /* string 2, char 24 */
  61.76471%,
  62.19944% {
    content: "It typed this one too ";
  }
  /* string 2, char 25 */
  62.20044%,
  62.63517% {
    content: "It typed this one too";
  }
  /* string 2, char 26 */
  62.63617%,
  63.0709% {
    content: "It typed this one to";
  }
  /* string 2, char 27 */
  63.0719%,
  63.50663% {
    content: "It typed this one t";
  }
  /* string 2, char 28 */
  63.50763%,
  63.94236% {
    content: "It typed this one ";
  }
  /* string 2, char 29 */
  63.94336%,
  64.37808% {
    content: "It typed this one";
  }
  /* string 2, char 30 */
  64.37908%,
  64.81381% {
    content: "It typed this on";
  }
  /* string 2, char 31 */
  64.81481%,
  65.24954% {
    content: "It typed this o";
  }
  /* string 2, char 32 */
  65.25054%,
  65.68527% {
    content: "It typed this ";
  }
  /* string 2, char 33 */
  65.68627%,
  66.121% {
    content: "It typed this";
  }
  /* string 2, char 34 */
  66.122%,
  66.55673% {
    content: "It typed thi";
  }
  /* string 2, char 35 */
  66.55773%,
  66.99246% {
    content: "It typed th";
  }
  /* string 2, char 36 */
  66.99346%,
  67.42819% {
    content: "It typed t";
  }
  /* string 2, char 37 */
  67.42919%,
  67.86392% {
    content: "It typed ";
  }
  /* string 2, char 38 */
  67.86492%,
  68.29965% {
    content: "It typed";
  }
  /* string 2, char 39 */
  68.30065%,
  68.73538% {
    content: "It type";
  }
  /* string 2, char 40 */
  68.73638%,
  69.17111% {
    content: "It typ";
  }
  /* string 2, char 41 */
  69.17211%,
  69.60684% {
    content: "It ty";
  }
  /* string 2, char 42 */
  69.60784%,
  70.04257% {
    content: "It t";
  }
  /* string 2, char 43 */
  70.04357%,
  70.4783% {
    content: "It ";
  }
  /* string 2, char 44 */
  70.4793%,
  70.91403% {
    content: "It";
  }
  /* string 2, char 45 */
  70.91503%,
  71.34976% {
    content: "I";
  }
  /* string 2, char 46 */
  71.35076%,
  76.79639% {
    content: "​";
  }
  /* string 3, char 1 */
  76.79739%,
  77.34105% {
    content: "E";
  }
  /* string 3, char 2 */
  77.34205%,
  77.88571% {
    content: "En";
  }
  /* string 3, char 3 */
  77.88671%,
  78.43037% {
    content: "Enj";
  }
  /* string 3, char 4 */
  78.43137%,
  78.97503% {
    content: "Enjo";
  }
  /* string 3, char 5 */
  78.97603%,
  79.5197% {
    content: "Enjoy";
  }
  /* string 3, char 6 */
  79.5207%,
  80.06436% {
    content: "Enjoy ";
  }
  /* string 3, char 7 */
  80.06536%,
  91.938% {
    content: "Enjoy ☕";
  }
  /* string 3, char 8 */
  91.939%,
  92.37373% {
    content: "Enjoy ";
  }
  /* string 3, char 9 */
  92.37473%,
  92.80946% {
    content: "Enjoy";
  }
  /* string 3, char 10 */
  92.81046%,
  93.24519% {
    content: "Enjo";
  }
  /* string 3, char 11 */
  93.24619%,
  93.68092% {
    content: "Enj";
  }
  /* string 3, char 12 */
  93.68192%,
  94.11665% {
    content: "En";
  }
  /* string 3, char 13 */
  94.11765%,
  94.55238% {
    content: "E";
  }
  /* string 3, char 14 */
  94.55338%,
  100% {
    content: "​";
  }
}

@-webkit-keyframes beam-blink {
  75% {
    border-color: transparent;
  }
}

@keyframes beam-blink {
  75% {
    border-color: transparent;
  }
}

* {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.home {
  height: 100%;
  font-size: calc(10px + 2vw);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home::after {
  content: "​";
  position: relative;
  top: -13px;
  display: inline-block;
  padding-right: 3px;
  padding-right: calc(3px + 0.1vw);
  border-right: 10px solid rgba(51, 255, 51, 0.75);
  border-right: calc(1.1vw + 4px) solid rgba(51, 255, 51, 0.75);
  text-shadow: 0 0 5px rgba(51, 255, 51, 0.75);
  white-space: nowrap;
  -webkit-animation: typed 18.36s linear 1s infinite, beam-blink 1s infinite;
          animation: typed 18.36s linear 1s infinite, beam-blink 1s infinite;
}

@media (max-width: 575px) {
  .home::after {
    top: -33px;
  }
}

.home {
  height: 100vh;
  padding-top: 25vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 39, 39, 0.45))), url(https://1.bp.blogspot.com/-51dL74QTW0s/Ucx5qyYlBAI/AAAAAAAAWgk/IT7vwn51zHU/s1280/Sunflowers+Desktop+Wallpapers+%25282%2529.jpg) center top;
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0.45)), url(https://1.bp.blogspot.com/-51dL74QTW0s/Ucx5qyYlBAI/AAAAAAAAWgk/IT7vwn51zHU/s1280/Sunflowers+Desktop+Wallpapers+%25282%2529.jpg) center top;
  background-size: cover;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-name {
  padding: 5px 0 20px 0;
  text-decoration: underline;
  font-size: 2rem;
}

.home-name--first {
  color: #fff45e;
}

.home h2 {
  text-transform: capitalize;
  font-size: 1rem;
}

.button-link {
  position: relative;
  top: 40vh;
}

.button-down {
  cursor: pointer;
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
}

.button-down:hover,
.button-down:focus {
  color: #000;
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.menu-btn {
  position: absolute;
  z-index: 99;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger, .menu-btn-burger::before, .menu-btn-burger::after {
  position: absolute;
  width: 28px;
  height: 3px;
  background: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger {
  right: 0;
  top: 0.5rem;
}

.menu-btn-burger::before, .menu-btn-burger::after {
  content: "";
}

.menu-btn-burger::before {
  top: -8px;
}

.menu-btn-burger::after {
  top: 8px;
}

.menu-btn-burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn-burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn-burger.open::after {
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  visibility: hidden;
  opacity: 0.98;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #272727;
  padding-right: 1rem;
  list-style-type: none;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .menu-nav-item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav-item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav-link {
  display: inline-block;
  padding: 2rem 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav-link:hover, .nav .menu-nav-link:focus {
  color: #ddce00;
  border: 1px solid #ddce00;
  border-radius: 0.4rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-nav-item:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.menu-nav-item:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu-nav-item:nth-child(3) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.menu-nav-item:nth-child(4) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.about {
  padding: 30px 10px;
  font-size: 0.8rem;
}

.about .text-secondary {
  padding-bottom: 30px;
  text-align: center;
}

.about-bio {
  padding: 50px 0 20px 0;
}

.about .skills {
  padding: 60px 0;
}

.about-bio p {
  padding: 5px 0;
}

.about .skills {
  text-align: center;
}

.about .skills-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 10px;
}

.about .skill-item i,
.about .skill-item img {
  width: 50px;
  height: 50px;
}

.about .skill-item i {
  font-size: 2rem;
  color: #2664c2;
}

.about .skill-item p {
  padding: 10px 0;
}

.about .jobs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  border: 5px dashed #008000;
  padding: 30px 20px;
  margin: 40px 0;
}

.about .jobs-container {
  background: #414141;
  padding: 0.7rem 1rem;
  margin-bottom: 40px;
  border-bottom: 5px solid #fff9aa;
  border-radius: 0.4rem;
  line-height: 1.45;
}

.about .jobs-container h3 {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.about .jobs-container h4,
.about .jobs-container h5 {
  font-style: italic;
}

.about .jobs-description {
  margin-left: 1rem;
}

.about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  place-items: center;
  border: 5px dashed #ddce00;
  padding: 40px 20px;
  margin-bottom: 60px;
}

.about-photo {
  position: relative;
  padding: 30px 0;
}

.about-photo::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -10px;
  right: 10px;
  width: 220px;
  height: 374px;
  background-color: #fff;
  z-index: -2;
}

.triangle-container {
  position: absolute;
  left: -10%;
  right: 40%;
  bottom: 100%;
}

.first-triangle,
.second-triangle,
.third-triangle {
  position: absolute;
  background-color: #008000;
  border-radius: 2px;
}

.first-triangle {
  top: 25px;
  left: 25px;
  width: 5px;
  height: 380px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  z-index: 1;
}

.second-triangle {
  top: 60px;
  left: 149px;
  width: 5px;
  height: 370px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: -99;
}

.third-triangle {
  top: -69px;
  left: 118px;
  width: 5px;
  height: 255px;
  -webkit-transform: rotate(103deg);
          transform: rotate(103deg);
  z-index: 1;
}

.about-photo img {
  max-width: 200px;
}

.about-contact {
  margin: 40px 0 0 0;
}

.about-contact a {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
}

.about-contact a:hover,
.about-contact a:focus {
  background-color: #ddce00;
}

.resume-link-container {
  margin: 20px auto 50px auto;
}

.resume-link-container a {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  color: #000;
}

.resume-link-container a:hover,
.resume-link-container a:focus {
  background-color: #ddce00;
  color: #fff;
}

.projects {
  font-size: 0.8rem;
  text-align: center;
}

.projects-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 30px;
  padding: 40px 0;
}

.projects-item {
  position: relative;
  background: #414141;
  padding: 0.7rem 1rem;
  border-bottom: 5px solid #fff9aa;
  border-radius: 0.4rem;
  cursor: pointer;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.projects-item-hidden {
  opacity: 0;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
}

.projects-item h4,
.projects-item h5 {
  padding: 10px 0 20px 0;
}

.projects-item h5 {
  line-height: 1.3;
}

.projects-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #776f00;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects-item:hover::after, .projects-item:focus::after {
  opacity: 0.9;
}

.projects-item:hover .projects-btn, .projects-item:focus .projects-btn {
  opacity: 1;
}

.projects-btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  right: 30px;
  left: 30px;
  z-index: 1;
  text-align: center;
}

.projects-btn {
  opacity: 0;
  color: #000000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects-btn:hover {
  color: #ffffff;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 39, 39, 0.7))), url(https://1.bp.blogspot.com/-51dL74QTW0s/Ucx5qyYlBAI/AAAAAAAAWgk/IT7vwn51zHU/s1280/Sunflowers+Desktop+Wallpapers+%25282%2529.jpg) center top;
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0.7)), url(https://1.bp.blogspot.com/-51dL74QTW0s/Ucx5qyYlBAI/AAAAAAAAWgk/IT7vwn51zHU/s1280/Sunflowers+Desktop+Wallpapers+%25282%2529.jpg) center top;
  background-size: cover;
  text-align: center;
}

.contact h2 {
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  border: 5px solid #ddce00;
  border-radius: 0.4rem;
}

.contact-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.contact .text-secondary a {
  color: #ddce00;
}

.contact .text-secondary {
  padding: 10px 0;
}

.contact .social-icons {
  margin: 40px 0;
  font-size: 0.8rem;
}

.contact .social-icons a {
  padding: 0 20px;
}

.contact .social-icons a:hover,
.contact .social-icons a:focus {
  color: #ddce00;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 95vw;
  margin: 30px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  text-align: center;
}

.contact-form p {
  padding-bottom: 50px;
  color: #000;
}

.contact-form input,
.contact-form textarea,
.submit-btn {
  max-width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
}

.contact-form input,
.contact-form textarea {
  border: 5px solid #ddce00;
}

.submit-btn {
  background-color: #2664c2;
  color: #fff;
  cursor: pointer;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #ddce00;
  color: #000;
}

.g-recaptcha {
  padding: 10px 0;
}

@media screen and (min-width: 434px) {
  .home-name {
    font-size: 2.5rem;
  }
  .home::after {
    font-size: 1.3rem;
  }
  .home h2 {
    font-size: 1.2rem;
  }
  .about,
  .projects {
    font-size: 1rem;
  }
  .about .jobs-container h3 {
    font-size: 1.2rem;
  }
  .button-up {
    font-size: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .home {
    padding-top: 35vh;
  }
  .home-name {
    padding-bottom: 1.5rem;
  }
  .home::after {
    top: -70px;
  }
  .button-link {
    top: 35vh;
  }
  .home h2 {
    font-size: 1.5rem;
  }
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    height: 100%;
    background: #272727;
    text-align: right;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .nav .menu-nav-item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav-link:hover, .nav .menu-nav-link:focus {
    border: none;
  }
  .about .text-secondary,
  .projects .text-secondary {
    font-size: 2rem;
  }
  .about {
    padding-top: 20vh;
  }
  .about .jobs {
    padding: 60px 60px 0 60px;
  }
  .about .skills-container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .projects {
    padding-top: 20vh;
  }
  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 40px;
  }
  .contact-form {
    margin: 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 800px;
            flex: 1 1 800px;
  }
  .contact-list {
    grid-gap: 1rem;
  }
  .contact .text-secondary {
    font-size: 0.9rem;
  }
  .contact .social-icons {
    font-size: 0.6rem;
  }
  .contact .social-icons a {
    padding: 0 10px;
  }
  .about-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 40px 70px;
  }
}

@media screen and (min-width: 1050px) {
  .projects-items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
  .contact-form {
    margin: 40px;
  }
  .contact .text-secondary {
    font-size: 1rem;
  }
  .contact .social-icons {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1600px) {
  .projects-items {
    grid-gap: 100px;
  }
}

@media (hover: none) and (pointer: coarse) {
  .projects-item {
    position: initial;
  }
  .projects-item::after {
    display: none;
  }
  .projects-btns {
    position: initial;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1rem;
  }
  .projects-btn {
    opacity: 1;
    color: #fff;
    padding: 0 10px;
  }
  .projects-btn:hover, .projects-btn:focus {
    color: #ddce00;
  }
}
