@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap");
html {
  font-size: 125%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Nunito", sans-serif;
}

footer,
header,
nav,
section,
main {
  display: block;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

img {
  max-width: 100%;
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #272727;
  height: 100vh;
  color: #ffffff;
  line-height: 1;
}

h2 {
  text-transform: uppercase;
}

.text-secondary {
  color: #ddce00;
}

.wrapper {
  max-width: 1500px;
  width: 95%;
  margin: 0 auto;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 2rem;
}

.button-up {
  position: fixed;
  bottom: 50px;
  right: 30px;
  background: transparent;
  outline: none;
  border: 1px solid transparent;
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
  visibility: hidden;
}

.button-up:hover,
.button-up:focus {
  color: #ddce00;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

footer {
  font-size: 0.8rem;
  padding: 1rem;
  color: #ffffff;
  text-align: center;
  font-style: italic;
}

.home {
  height: 100vh;
  padding-top: 25vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 39, 39, 0.45))), url(https://1.bp.blogspot.com/-51dL74QTW0s/Ucx5qyYlBAI/AAAAAAAAWgk/IT7vwn51zHU/s1280/Sunflowers+Desktop+Wallpapers+%25282%2529.jpg) center top;
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0.45)), url(https://1.bp.blogspot.com/-51dL74QTW0s/Ucx5qyYlBAI/AAAAAAAAWgk/IT7vwn51zHU/s1280/Sunflowers+Desktop+Wallpapers+%25282%2529.jpg) center top;
  background-size: cover;
  text-align: center;
}

.home-name {
  padding: 5px 0 20px 0;
  text-decoration: underline;
  font-size: 2rem;
}

.home-name--first {
  color: #fff45e;
}

.home h2 {
  text-transform: capitalize;
  font-size: 1rem;
}

.button-link {
  position: relative;
  top: 40vh;
}

.button-down {
  cursor: pointer;
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
}

.button-down:hover,
.button-down:focus {
  color: #000;
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.menu-btn {
  position: absolute;
  z-index: 99;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger, .menu-btn-burger::before, .menu-btn-burger::after {
  position: absolute;
  width: 28px;
  height: 3px;
  background: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger {
  right: 0;
  top: 0.5rem;
}

.menu-btn-burger::before, .menu-btn-burger::after {
  content: "";
}

.menu-btn-burger::before {
  top: -8px;
}

.menu-btn-burger::after {
  top: 8px;
}

.menu-btn-burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn-burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn-burger.open::after {
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  visibility: hidden;
  opacity: 0.98;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #272727;
  padding-right: 1rem;
  list-style-type: none;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .menu-nav-item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav-item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav-link {
  display: inline-block;
  padding: 2rem 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav-link:hover, .nav .menu-nav-link:focus {
  color: #ddce00;
  border: 1px solid #ddce00;
  border-radius: 0.4rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-nav-item:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.menu-nav-item:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu-nav-item:nth-child(3) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.menu-nav-item:nth-child(4) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.about {
  padding: 30px 10px;
  font-size: 0.8rem;
}

.about .text-secondary {
  padding-bottom: 30px;
  text-align: center;
}

.about-bio {
  padding: 50px 0 20px 0;
}

.about .skills {
  padding: 60px 0;
}

.about-bio p {
  padding: 5px 0;
}

.about .skills {
  text-align: center;
}

.about .skills-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 10px;
}

.about .skill-item i,
.about .skill-item img {
  width: 50px;
  height: 50px;
}

.about .skill-item i {
  font-size: 2rem;
  color: #2664c2;
}

.about .skill-item p {
  padding: 10px 0;
}

.about .jobs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  border: 5px dashed #008000;
  padding: 30px 20px;
  margin: 40px 0;
}

.about .jobs-container {
  background: #414141;
  padding: 0.7rem 1rem;
  margin-bottom: 40px;
  border-bottom: 5px solid #fff9aa;
  border-radius: 0.4rem;
  line-height: 1.45;
}

.about .jobs-container h3 {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.about .jobs-container h4,
.about .jobs-container h5 {
  font-style: italic;
}

.about .jobs-description {
  margin-left: 1rem;
}

.about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  place-items: center;
  border: 5px dashed #ddce00;
  padding: 40px 20px;
  margin-bottom: 60px;
}

.about-photo {
  position: relative;
  padding: 30px 0;
}

.about-photo::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -10px;
  right: 10px;
  width: 220px;
  height: 374px;
  background-color: #fff;
  z-index: -2;
}

.triangle-container {
  position: absolute;
  left: -10%;
  right: 40%;
  bottom: 100%;
}

.first-triangle,
.second-triangle,
.third-triangle {
  position: absolute;
  background-color: #008000;
  border-radius: 2px;
}

.first-triangle {
  top: 25px;
  left: 25px;
  width: 5px;
  height: 380px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  z-index: 1;
}

.second-triangle {
  top: 60px;
  left: 149px;
  width: 5px;
  height: 370px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: -99;
}

.third-triangle {
  top: -69px;
  left: 118px;
  width: 5px;
  height: 255px;
  -webkit-transform: rotate(103deg);
          transform: rotate(103deg);
  z-index: 1;
}

.about-photo img {
  max-width: 200px;
}

.about-contact {
  margin: 40px 0 0 0;
}

.about-contact a {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
}

.about-contact a:hover,
.about-contact a:focus {
  background-color: #ddce00;
}

.projects {
  font-size: 0.8rem;
  text-align: center;
}

.projects-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 30px;
  padding: 40px 0;
}

.projects-item {
  position: relative;
  background: #414141;
  padding: 0.7rem 1rem;
  border-bottom: 5px solid #fff9aa;
  border-radius: 0.4rem;
  cursor: pointer;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.projects-item-hidden {
  opacity: 0;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
}

.projects-item h4,
.projects-item h5 {
  padding: 10px 0 20px 0;
}

.projects-item h5 {
  line-height: 1.3;
}

.projects-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #776f00;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects-item:hover::after, .projects-item:focus::after {
  opacity: 0.9;
}

.projects-item:hover .projects-btn, .projects-item:focus .projects-btn {
  opacity: 1;
}

.projects-btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  right: 30px;
  left: 30px;
  z-index: 1;
  text-align: center;
}

.projects-btn {
  opacity: 0;
  color: #000000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects-btn:hover {
  color: #ffffff;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 39, 39, 0.7))), url(https://1.bp.blogspot.com/-51dL74QTW0s/Ucx5qyYlBAI/AAAAAAAAWgk/IT7vwn51zHU/s1280/Sunflowers+Desktop+Wallpapers+%25282%2529.jpg) center top;
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0.7)), url(https://1.bp.blogspot.com/-51dL74QTW0s/Ucx5qyYlBAI/AAAAAAAAWgk/IT7vwn51zHU/s1280/Sunflowers+Desktop+Wallpapers+%25282%2529.jpg) center top;
  background-size: cover;
  text-align: center;
}

.contact h2 {
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  border: 5px solid #ddce00;
  border-radius: 0.4rem;
}

.contact-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.contact .text-secondary a {
  color: #ddce00;
}

.contact .text-secondary {
  padding: 10px 0;
}

.contact .social-icons {
  margin: 40px 0;
  font-size: 0.8rem;
}

.contact .social-icons a {
  padding: 0 20px;
}

.contact .social-icons a:hover,
.contact .social-icons a:focus {
  color: #ddce00;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 95vw;
  margin: 30px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  text-align: center;
}

.contact-form p {
  padding-bottom: 50px;
  color: #000;
}

.contact-form input,
.contact-form textarea,
.submit-btn {
  max-width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
}

.contact-form input,
.contact-form textarea {
  border: 5px solid #ddce00;
}

.submit-btn {
  background-color: #2664c2;
  color: #fff;
  cursor: pointer;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #ddce00;
  color: #000;
}

.g-recaptcha {
  padding: 10px 0;
}

@media screen and (min-width: 434px) {
  .home-name {
    font-size: 2.5rem;
  }
  .home h2 {
    font-size: 1.2rem;
  }
  .about,
  .projects {
    font-size: 1rem;
  }
  .about .jobs-container h3 {
    font-size: 1.2rem;
  }
  .button-up {
    font-size: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .home {
    padding-top: 35vh;
  }
  .home-name {
    padding-bottom: 1.5rem;
  }
  .button-link {
    top: 35vh;
  }
  .home h2 {
    font-size: 1.5rem;
  }
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    height: 100%;
    background: #272727;
    text-align: right;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .nav .menu-nav-item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav-link:hover, .nav .menu-nav-link:focus {
    border: none;
  }
  .about {
    padding-top: 20vh;
  }
  .about .jobs {
    padding: 60px 60px 0 60px;
  }
  .about .skills-container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .projects {
    padding-top: 20vh;
  }
  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 40px;
  }
  .contact-form {
    margin: 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 800px;
            flex: 1 1 800px;
  }
  .contact-list {
    grid-gap: 1rem;
  }
  .contact .text-secondary {
    font-size: 0.9rem;
  }
  .contact .social-icons {
    font-size: 0.6rem;
  }
  .contact .social-icons a {
    padding: 0 10px;
  }
  .about-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 40px 70px;
  }
}

@media screen and (min-width: 1050px) {
  .projects-items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
  .contact-form {
    margin: 40px;
  }
  .contact .text-secondary {
    font-size: 1rem;
  }
  .contact .social-icons {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1600px) {
  .projects-items {
    grid-gap: 100px;
  }
}

@media (hover: none) and (pointer: coarse) {
  .projects-item {
    position: initial;
  }
  .projects-item::after {
    display: none;
  }
  .projects-btns {
    position: initial;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1rem;
  }
  .projects-btn {
    opacity: 1;
    color: #fff;
    padding: 0 10px;
  }
  .projects-btn:hover, .projects-btn:focus {
    color: #ddce00;
  }
}
