.education-container--lg {
  display: grid;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  gap: 16px;
  padding-bottom: 96px;
}

.education-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 96px;
}

.certificates-container--lg {
  display: grid;
  grid-template-columns: repeat(2, minmax(240px, 1fr));
  gap: 16px;
  padding-bottom: 96px;
}

.certificates-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 96px;
}
